

.listingImageCaption {padding: 10px 0 0 10px; }
.listingImage {margin: 10px 0 0 20px;}
.listingImage img {height: 100px;; border: 1px solid #888; padding: 0}
.listingImageMessage {margin: 10px 0 0 20px;}
.profileView {padding: 10px 0 0 10px;}
.profileDescriptionCaption {padding: 10px 0 0 10px;}
.profileDescription {padding: 10px 0 0 20px;}
.profileImageCaption {padding: 10px 0 0 10px; }
.profileImageMessage {margin: 10px 0 0 20px;}
.profileImage {margin: 10px 0 0 20px;}
.profileImage img {height: 100px; border: 1px solid #888; padding: 0}
.searchBanner {width: 960px;padding:4px 20px 4px 20px; margin: 0pt auto auto;border:1px solid #444;border-bottom:0;background-color:#f7fafa;}
.searchBanner .searchContainer {width:100%}
.searchBanner .searchContainer .logoCell {width:300px;}
.searchBanner .searchContainer .searchCell {width:660px;padding:5px 5px 5px 20px;background-color:white; border:1px solid #444;vertical-align:middle;}
.searchBanner .searchContainer .searchCell .searchText {width:290px;vertical-align:middle;}
.searchBanner .searchContainer .searchCell .searchLocation {width:230px;vertical-align:middle;}
.searchBanner .searchContainer .searchCell .searchButton {width:95px;vertical-align:middle;}

.directoryLogin {width:302px;margin:0 auto auto auto; padding: 100px 350px 100px 350px;border: 1px solid #444;background-color:#f7fafa;}

.bannerWrapper {width:1002px;margin:0 auto auto auto}
.bannerWrapper .bannerTop {width:1000px;height:90px;padding:5px;border:1px solid black;text-align:center;vertical-align:middle;background-color:white;}
.bannerWrapper .bannerTop a img{width:1000px;height:72px;}
.bannerWrapper .bannerTopMargin {height:10px;padding:0;margin:0}
.bannerWrapper .bannerLeft {width:120px;height:600px;padding:0;background-color:white;}
.bannerWrapper .bannerLeft a img {width:120px;height:600px;}
.bannerWrapper .bannerWrapperContent { width:760px;height:600px;padding:0 10px 0 10px;vertical-align:top;}
.bannerWrapper .bannerRight {width:120px;height:600px;padding:0;background-color:white;}
.bannerWrapper .bannerRight a img {width:120px;height:600px;}
.bannerWrapper .bannerBottomMargin {height:10px;padding:0;margin:0}
.bannerWrapper .bannerBottom {width:1000px;height:90px;padding:5px;border:1px solid black;text-align:center;vertical-align:middle;background-color:white;}
.bannerWrapper .bannerBottom a img{width:1000px;height:72px;}

.myAccountShowcaseEdit {width:1002px;margin:10px auto auto auto;padding:10px;border: 1px solid rgb(30, 48, 44);background:rgb(247, 250, 250);}
.myAccountShowcaseEdit .homeLink{}
.myAccountShowcaseEdit div.header {border-bottom:1px solid #444;padding-top:20px;}
.myAccountShowcaseEdit div.header span.header {font-size:20px;}
.myAccountShowcaseEdit table.formTable td.header {margin: 0 0 5px 0;padding:20px 0 0 0;font-weight: bold; border-bottom: 1px solid rgb(160, 160, 170)}
.myAccountShowcaseEdit table.formTable td.caption {padding:10px 0 2px 10px;vertical-align:top;text-align:left; border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountShowcaseEdit table.formTable td.input {padding:2px 0 2px 10px;text-align:left;border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountShowcaseEdit table.formTable td.input input{padding:4px;vertical-align:middle}
.myAccountShowcaseEdit table.formTable td.input select{padding:4px;vertical-align:middle}
.myAccountShowcaseEdit table.formTable td.input textarea{padding:4px;height:300px;width:500px;}
.myAccountShowcaseEdit table.formTable td.buttonBar {padding:4px;background-color:#ccd;text-align:right;}

.myAccountBannerEdit {width:1002px;margin:10px auto auto auto;padding:10px;border: 1px solid rgb(30, 48, 44);background:rgb(247, 250, 250);}
.myAccountBannerEdit .homeLink{}
.myAccountBannerEdit div.header {border-bottom:1px solid #444;padding-top:20px;}
.myAccountBannerEdit div.header span.header {font-size:20px;}
.myAccountBannerEdit table.formTable td.header {margin: 0 0 5px 0;padding:20px 0 0 0;font-weight: bold; border-bottom: 1px solid rgb(160, 160, 170)}
.myAccountBannerEdit table.formTable td.caption {padding:10px 0 2px 10px;vertical-align:top;text-align:left; border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountBannerEdit table.formTable td.input {padding:2px 0 2px 10px;text-align:left;border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountBannerEdit table.formTable td.input input{padding:4px;vertical-align:middle}
.myAccountBannerEdit table.formTable td.input select{padding:4px;vertical-align:middle}
.myAccountBannerEdit table.formTable td.input textarea{padding:4px;height:300px;width:500px;}
.myAccountBannerEdit table.formTable td.buttonBar {padding:4px;background-color:#ccd;text-align:right;}

.myAccountEdit {width:1002px;margin:10px auto auto auto;padding:10px;border: 1px solid rgb(30, 48, 44);background:rgb(247, 250, 250);}
.myAccountEdit .homeLink{}
.myAccountEdit div.header {border-bottom:1px solid #444;padding-top:20px;}
.myAccountEdit div.header span.header {font-size:20px;}
.myAccountEdit table.formTable td.header {margin: 0 0 5px 0;padding:20px 0 0 0;font-weight: bold; border-bottom: 1px solid rgb(160, 160, 170)}
.myAccountEdit table.formTable td.caption {padding:10px 0 2px 10px;vertical-align:top;text-align:left; border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountEdit table.formTable td.input {padding:2px 0 2px 10px;text-align:left;border-bottom: 1px solid rgb(240, 240, 250)}
.myAccountEdit table.formTable td.input input{padding:4px;vertical-align:middle}
.myAccountEdit table.formTable td.input select{padding:4px;vertical-align:middle}
.myAccountEdit table.formTable td.input textarea{padding:4px;height:300px;width:500px;}
.myAccountEdit table.formTable td.buttonBar {padding:4px;background-color:#ccd;text-align:right;}
.myAccountEdit table.formTable td.description {margin: 0; padding:10px 10px 10px 10px;}

.myAccountHome {width:1002px;margin:10px auto auto auto;padding:10px;border: 1px solid rgb(30, 48, 44);background:rgb(247, 250, 250);}
.myAccountHome .homeLink{}
.myAccountHome .buttonBar {padding:4px;background-color:#ccd;text-align:right;}
.myAccountHome tr.adListHead td {background-color:#ccc;border-bottom:1px solid #344;padding:4px;}
.myAccountHome tr.adListRow td {padding:4px;border-bottom:1px solid #bbb;}
.myAccountHome tr.adListRow td.c0 {width:25%;}
.myAccountHome tr.adListRow td.c1 {width:10%;}
.myAccountHome tr.adListRow td.c2 {width:25%;}
.myAccountHome tr.adListRow td.c3 {width:25%;}
.myAccountHome tr.adListRow td.c4 {width:15%;}
.myAccountHome td.emptyRow {padding: 10px 0 0 10px;}
.myAccountHome div.header {border-bottom:1px solid #444;padding-top:20px;}
.myAccountHome div.header span.header {font-size:20px;}
.myAccountHome div.accountProfile .accountProfileCol0 {width:50%;vertical-align:top;padding-top:20px;}
.myAccountHome div.accountProfile .accountProfileCol1 {width:25%;vertical-align:top;padding-top:20px;}
.myAccountHome div.accountProfile .accountProfileCol2 {width:25%;vertical-align:top;padding-top:20px;}
.myAccountHome div.accountProfile div {padding:4px;}
.myAccountHome div.adProfile {}
.myAccountHome .subcategoryList .subcategoryListRow {padding:4px;border-bottom:1px solid #bbb;}
.myAccountHome .subcategoryList .emptyRow {padding:10px 0 0 10px;}


a {color:#444;text-decoration:none;}
a:visited {color:#444;text-decoration:none;}
a:hover {color:#444;text-decoration:underline;}

.emailForm { width: 500px; background-color: #fff; padding:20px; }
.emailForm .copy {padding:20px 0 10px 0;font-weight:bold;}
.emailForm .caption {padding: 10px 0 5px 0}
.emailForm .field {}
.emailForm .field input {width:300px;margin-left:20px}
.emailForm .fieldWide input {width:400px;margin-left:20px}
.emailForm .field textarea {width:400px;margin-left:20px}

.contentShowcaseAd {padding:10px;}
.contentShowcaseAd .head { padding:5px 0 5px 0; margin: 0 0 5px 0; border-bottom: 1px solid #444; }
.contentShowcaseAd .head .home {padding:0 4px 0 0;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.contentShowcaseAd .showcaseSubhead {padding:10px 4px 0 0;color:#222;text-align:left;}
.contentShowcaseAd .companyNameLine {padding:0;margin:0;font-size:14px;font-weight: bold;}
.contentShowcaseAd .left {width:550px;padding:0 10px 0 10px;text-align:left;vertical-align:top;}
.contentShowcaseAd .left img {border:0;margin:20px 0 0 0}
.contentShowcaseAd .left .descriptionLine {margin:20px 0 0 0}
.contentShowcaseAd .left .featureLine {margin:10px 0 0 0}
.contentShowcaseAd .left .categoryListCaption {padding:0;margin:20px 0 4px 0;font-weight:bold;font-size:12px;color:#222;}
.contentShowcaseAd .left .categoryList div {padding:0;margin:4px 0 0 10px;}
.contentShowcaseAd .right {width:190px;text-align:left;vertical-align:top;padding:0 10px 0 10px;border-left:1px solid #888;}
.contentShowcaseAd .right .contactCaption {padding:0;margin:0 0 4px 0;font-weight:bold;font-size:12px;color:#222;}
.contentShowcaseAd .right .profileContactLine {margin:20px 0 0 0}
.contentShowcaseAd .right .phoneLine {margin:20px 0 0 0}
.contentShowcaseAd .right .faxLine {margin:20px 0 0 0}
.contentShowcaseAd .right .emailLine {margin:20px 0 0 0}
.contentShowcaseAd .right .address1Line {margin:20px 0 0 0}
.contentShowcaseAd .right .publicListingLink {margin:20px 0 0 0}

.contentProfile {}
.contentProfile .profileImageLine {text-align: center;}
.contentProfile .head { padding:5px 0 5px 0; margin: 0 0 5px 0; border-bottom: 1px solid #444; }
.contentProfile .head .home {padding:0 4px 0 0;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.contentProfile .companyNameLine {padding:0;margin:0;font-size:14px;font-weight: bold;}
.contentProfile .left {width:550px;padding:0 10px 0 10px;text-align:left;vertical-align:top;}
.contentProfile .left img {border:0;margin:20px 0 0 0}
.contentProfile .left .descriptionLine {margin:20px 0 0 0}
.contentProfile .left .featureLine {margin:10px 0 0 0}
.contentProfile .left .categoryListCaption {padding:0;margin:20px 0 4px 0;font-weight:bold;font-size:12px;color:#222;}
.contentProfile .left .categoryList div {padding:0;margin:4px 0 0 10px;}
.contentProfile .right {width:190px;text-align:left;vertical-align:top;padding:0 10px 0 10px;border-left:1px solid #888;}
.contentProfile .right .contactCaption {padding:0;margin:0 0 4px 0;font-weight:bold;font-size:12px;color:#222;}
.contentProfile .right .profileContactLine {margin:20px 0 0 0}
.contentProfile .right .phoneLine {margin:20px 0 0 0}
.contentProfile .right .faxLine {margin:20px 0 0 0}
.contentProfile .right .emailLinkLine {margin:20px 0 0 0}
.contentProfile .right .address1Line {margin:20px 0 0 0}


.headingSearchResults {}
.headingSearchResults .head { padding:5px 0 5px 0; margin:0; border-bottom: 1px solid #444; }
.headingSearchResults .head .home {padding:0 4px 0 0;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.headingSearchResults .head .category {padding:0 4px 0 4px;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.headingSearchResults .head .heading {padding:0 4px 0 4px;font-weight: bold;font-size:16px;font-weight: bold;color: #944;text-align:left;}
.headingSearchResults .head .recordCntMessage {padding:0 0 0 20px;}
.headingSearchResults .head .viewOptions {padding:0 0 0 20px;}
.headingSearchResults .head .pageSizeOptions {padding:0 0 0 20px;color:#444}
.headingSearchResults .head .pageSizeOptions .select10 a.size10 {color:#000;text-decoration:underline;}
.headingSearchResults .head .pageSizeOptions .select50 a.size50 {color:#000;text-decoration:underline;}
.headingSearchResults .head .pageSizeOptions .select100 a.size100 {color:#000;text-decoration:underline;}
.headingSearchResults .list {background-color:#F7FAFA}
.headingSearchResults .list .enhanced {padding: 10px 0; border-bottom:1px solid #e7eaea}
.headingSearchResults .list .enhanced .left {width:140px;text-align: center;vertical-align:top;}
.headingSearchResults .list .enhanced .left img { border: 1px solid rgb(30, 48, 44)}
.headingSearchResults .list .enhanced .center {width: 440px; text-align: left; padding-left: 6px; vertical-align: top; }
.headingSearchResults .list .enhanced .right {width:160px;}
.headingSearchResults .list .enhanced .companyLine {padding:0;margin:0;font-size:14px;font-weight: bold;}
.headingSearchResults .list .enhanced .featureLine {padding:0;margin:0;}
.headingSearchResults .list .enhanced .profileButtonLine {font-size:14px;font-weight: bold;}
.headingSearchResults .list .enhanced .profileButtonLine a {color:#444;text-decoration:none;}
.headingSearchResults .list .enhanced .profileButtonLine a:visited {color:#444;text-decoration:none;}
.headingSearchResults .list .enhanced .profileButtonLine a:hover {color:#444;text-decoration:underline;}
.headingSearchResults .list .enhanced .descriptionLine {padding-top:6px}
.headingSearchResults .list .normal { padding: 10px 0; border-bottom:1px solid #e7eaea }
.headingSearchResults .list .normal .left {width: 570px; text-align: left; padding-left: 6px; vertical-align: top;}
.headingSearchResults .list .normal .left .companyLine {padding:0;font-size:12px;font-weight: bold;}
.headingSearchResults .list .normal .left .featureLine {}
.headingSearchResults .list .normal .right {width:160px;}
.headingSearchResults .pageNavigation {padding:10px 0 10px 20px;height:30px;clear:both;display:table;}
.headingSearchResults .pageNavigation ul {list-style:none;margin:0;padding:0;}
.headingSearchResults .pageNavigation ul li {background-color:white;margin-right:0px;line-height:28px;float:left;}
.headingSearchResults .pageNavigation ul li div {display:inline;background-color:white;width:20px;height:20px;padding:5px;text-align:center;border:1px solid black;margin:0 2px 2px 0;}

.textSearchResults {}
.textSearchResults .head { padding:5px 0 5px 0; margin:0; border-bottom: 1px solid #444; }
.textSearchResults .head .home {padding:0 4px 0 0;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.textSearchResults .head .category {padding:0 4px 0 4px;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.textSearchResults .head .heading {padding:0 4px 0 4px;font-weight: bold;font-size:16px;font-weight: bold;color: #944;text-align:left;}
.textSearchResults .head .searchTermsMessage {padding:0 0 0 20px;}
.textSearchResults .head .recordCntMessage {padding:0 0 0 20px;}
.textSearchResults .head .viewOptions {padding:0 0 0 20px;}
.textSearchResults .head .pageSizeOptions {padding:0 0 0 20px;color:#444}
.textSearchResults .head .pageSizeOptions .select10 a.size10 {color:#000;text-decoration:underline;}
.textSearchResults .head .pageSizeOptions .select50 a.size50 {color:#000;text-decoration:underline;}
.textSearchResults .head .pageSizeOptions .select100 a.size100 {color:#000;text-decoration:underline;}
.textSearchResults .list { background-color:#F7FAFA }
.textSearchResults .list .enhanced {padding: 10px 0; border-bottom:1px solid #e7eaea}
.textSearchResults .list .enhanced .left {width:140px;text-align: center;vertical-align:top;}
.textSearchResults .list .enhanced .left img { border: 1px solid rgb(30, 48, 44)}
.textSearchResults .list .enhanced .center {width: 440px; text-align: left; padding-left: 6px; vertical-align: top; }
.textSearchResults .list .enhanced .right {width:160px;}
.textSearchResults .list .enhanced .companyLine {padding:0;margin:0;font-size:14px;font-weight: bold;}
.textSearchResults .list .enhanced .featureLine {padding:0;margin:0;}
.textSearchResults .list .enhanced .profileButtonLine {font-size:14px;font-weight: bold;}
.textSearchResults .list .enhanced .profileButtonLine a {color:#444;text-decoration:none;}
.textSearchResults .list .enhanced .profileButtonLine a:visited {color:#444;text-decoration:none;}
.textSearchResults .list .enhanced .profileButtonLine a:hover {color:#444;text-decoration:underline;}
.textSearchResults .list .enhanced .descriptionLine {padding-top:6px}
.textSearchResults .list .normal {padding: 10px 0; border-bottom:1px solid #e7eaea}
.textSearchResults .list .normal .left {width: 570px; text-align: left; padding-left: 6px; vertical-align: top;}
.textSearchResults .list .normal .left .companyLine {padding: 0;font-size:12px;font-weight: bold;}
.textSearchResults .list .normal .left .featureLine {}
.textSearchResults .list .normal .right {width:160px;}
.textSearchResults .pageNavigation {padding:10px 0 10px 20px;height:30px;clear:both;display:table;}
.textSearchResults .pageNavigation ul {list-style:none;margin:0;padding:0;}
.textSearchResults .pageNavigation ul li {background-color:white;margin-right:0px;line-height:28px;float:left;}
.textSearchResults .pageNavigation ul li div {display:inline;background-color:white;width:20px;height:20px;padding:5px;text-align:center;border:1px solid black;margin:0 2px 2px 0;}



.contentCategoryHeadings {width: 718px;margin:0;padding:0;}
.contentCategoryHeadings .head {padding:5px 0 5px 0; margin: 0 0 5px 0;}
.contentCategoryHeadings .head .home {padding:0 4px 0 0;font-weight: bold;font-size:12px;color:#222;text-align:left;}
.contentCategoryHeadings .head .category {padding:0 4px 0 4px;font-weight: bold;font-size:16px;font-weight: bold;color: #944;text-align:left;}
.contentCategoryHeadings .body {margin:0;padding:10px;border: 1px solid rgb(30, 48, 44);background:none repeat scroll 0% 0% rgb(247, 250, 250);}
.contentCategoryHeadings td.categoryName {padding:0;font-size:16px;font-weight: bold;color: #933942;text-align:left;}
.contentCategoryHeadings td.left {}
.contentCategoryHeadings td.center {}
.contentCategoryHeadings td.right {}
.contentCategoryHeadings ul.headings {padding:4px 0 0 20px;margin: 0;list-style-type:none;font-weight: normal;color: #933942;}

.contentHome {margin:0;padding:10px;border: 1px solid rgb(30, 48, 44);background:none repeat scroll 0% 0% rgb(247, 250, 250);}
.contentHome table {}
.contentHome table td.left {vertical-align:top;}
.contentHome table td.center {vertical-align:top;width:175px;text-align:center;}
.contentHome table td.right {vertical-align:top;}
.contentHome ul.categories {padding:5px 0 0 20px;margin: 0;list-style-type:none;font-weight: bold;color: #944;}
.contentHome ul.categories a { color: #944; }
.contentHome ul.categories a:visited { color: #944; }
.contentHome ul.categories a:hover { color: #944; }
.contentHome ul.categories ul.headings {padding:2px 0 0 20px;margin: 0;list-style-type:none;font-weight: normal;color: #444;}
.contentHome ul.categories ul.headings a {color:#444;}
.contentHome ul.categories ul.headings a:visited {color:#444;}
.contentHome ul.categories ul.headings a:hover {color:#444;}

.showcaseAdLayout table {padding:0}
.showcaseAdLayout table tr td.top { padding-top: 5px }
.showcaseAdLayout table tr td.bottom { background-color:#202020; width: 173px; padding: 2px; }
.showcaseAdLayout table tr td.bottom a { text-decoration:none;color:white; }
.showcaseAdLayout table tr td.bottom a:visited { text-decoration:none;color:white; }
.showcaseAdLayout table tr td.bottom a:hover { text-decoration:underline;color:white; }
.showcaseAdLayout table tr td.top img { width:175px; border: 1px solid #222; }

.enhanced { padding: 4px 0px; background-color: rgb(247, 250, 250); }
.enhanded td.left {width: 140px; text-align: center;}
.enhanded td.left img { border: 1px solid rgb(30, 48, 44)}
.enhanced td.center { width: 440px; text-align: left; padding-left: 6px; vertical-align: top; }
.enhanced td.center .companyLine {}
.enhanced td.center .addressLine {}
.enhanced td.center .descriptionLine {}
.enhanced td.center .webLine {}
.enhanced td.right { width: 160px; text-align: left; padding-left: 6px; vertical-align: top; }
.enhanced td.right .profileButtonLine {}
.enhanced td.right .phoneLine{}
.enhanced td.right .faxLine{}

.footerNav {width:1010px;margin:10px auto auto auto;padding:0;border: 1px solid rgb(30, 48, 44);background:none repeat scroll 0% 0% rgb(247, 250, 250);}
.footerNav .footerNavContent {padding:10px;}
.footerNav .footerNavContent .footerNavItem {margin:0 10px 0 10px;}
